@model WebApp.Models.listMovies
@{
    ViewData["Title"] = "Details";
}

<h1>Movies</h1>

<div>
    <table class="table">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Posterpath</th>
            <th scope="col">Runtime</th>
            <th scope="col">Release Date</th>
        </tr>
        @foreach (var item in Model.listFilm)
        {

            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @{
                        string imagePath = Url.Content("http://image.tmdb.org/t/p/w185" + item.Posterpath);
                    }
                    <img src="@imagePath" />
                </td>
                <td>
                    @item.Runtime
                </td>
                <td>
                    @item.ReleaseDate
                </td>
            </tr>

        }
    </table>
</div>
    @Html.ActionLink("Back to home", "index", null, new { @class = "btn btn-primary" })